:root {
	--bg-color: #082020;
	--main-fg-color: #a0cfbf;
	--void: #242424;
}
html {
	font-size: 24px;
	font-family: "Noto Sans", "Arial", "Callibre";
	background-color: var(--void);
	height: 100%;
}

body {
	height: auto;
	background-color: var(--bg-color);
	color: var(--main-fg-color);

	margin: 0;
	padding: 1em 2em;
}
