:root {
	--bg-color: #deeede;
	--main-fg-color: #222222;
	--faint-fg-color: #80bf9f;
	--subtle-highlight-fg:#222222; 

	--link-color: #e950a9;
	--hovered-link-color: #246fda;
	--visited-link-color: #4e238e;
	--void: #242424;
}

.icon {
	width: 32px; height: 32px;
	fill: var(--subtle-highlight-fg);
}

body {
	font-size: 18px;
	font-family: "Noto Sans", "Arial", "Callibre";
	height: 100%;
	max-width: 860px;
	background-color: var(--bg-color);
	color: var(--main-fg-color);

	margin: 2rem auto;
	padding: 0
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header * {
	margin: 0;
}

header div{
	margin-left: 2em;
}

div#lists{
	display: flex;
	justify-content: space-between;
}

h4 span {
	font-size: 0.8em;
	font-style: italic;
	font-weight: lighter;
}

div.project {
	margin: 2em auto;
}

div.project div.info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.project div.info * {
	padding-right: 1em;
}

div.project div.info h3 {
	margin-top: 0 auto;
}


p.detail {
	color: var(--subtle-highlight-fg);
	font-size: 1rem;
	font-style: italic;
}

p.text-content {
	color: var(--faint-fg-color);
}

a {
	color: var(--link-color);
}
a:visited {
	color: var(--visited-link-color);
}
a:hover {
	color: var(--hovered-link-color);
}

img {
	width: 100%;
}