:root {
	--bg-color: #deeede;
	--main-fg-color: #222222;
	--faint-fg-color: #80bf9f;
	--subtle-highlight-fg:#222222; 

	--link-color: #637dc5;
	--hovered-link-color: #246fda;
	--visited-link-color: #e950a9;
	--void: #242424;
}

.icon {
	width: 32px; height: 32px;
	fill: var(--subtle-highlight-fg);
}

body {
	font-size: 18px;
	font-family: "Noto Sans", "Arial", "Callibre";
	height: 100%;
	max-width: 860px;
	background-color: var(--bg-color);
	color: var(--main-fg-color);

	margin: 2rem auto;
	padding: 0
}

header * {
	margin: 0;
}

div.project {
	background-color: 
}


p.detail {
	color: var(--subtle-highlight-fg);
	font-size: 1rem;
	font-style: italic;
}

p.text-content {
	color: var(--faint-fg-color);
}

a {
	color: var(--link-color);
}
a:visited {
	color: var(--visited-link-color);
}
a:hover {
	color: var(--hovered-link-color);
}

ul {
	list-style: '> ';
}